body {
  background-color: #ff4c68;
  font-family: Montserrat-black;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

.container1 {
  background-color: #ff4c68;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.mainText {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3rem;
}

.btn btn-dark {
  margin: 50% 3% 3% 0;
}

/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-weight: bold;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Montserrat-light;
}

/* tittle image */
.img1 {
  width: 300px;
  height: 500px;
  border-radius: 28px;
  margin-left: 10%;
  transform: rotate(25deg);
}
 /* content started */
#content{
  padding: 2.5rem 5rem;
  color: #000;
  background-color: #eab0d9;
font-family: 'Merriweather', serif;
font-weight: bold;
}
#pubg_mobile_lite{
  margin: 2rem 0;
}
#RULE{
  margin-top: 1rem;
}
.bottom-container{
  text-align: center;
}
.event_scheduler{
  text-align: center;
}
#event_scheduler{
  padding: 2.5rem 5rem;
  background-color: #eab0d9;
  color: #000;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}
#demo{
  font-size: 20px;
}
/* winner */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Lato:300,400,700,900&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* .w_2{
  margin-top: 40px;
}
.w_3{
  margin-top: 40px;
} */

.random-bg{
  height:100vh;
  background-color:#111d5e;
  padding-top:1px;
  background-image:url('https://images.unsplash.com/photo-1528580279421-f0b84f9d7640?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=731&q=80');
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
}
.random-bg::before{
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(17, 29, 94, 0.85);
  z-index:0;
}
.winner-wrap{
  max-width:280px;
  min-height:280px;
  background:#b21f66;
  margin:5% auto 0;
  position:relative;
  padding:1rem 2rem 6.5rem 2rem;
  font-family: 'Lato', sans-serif;
  text-align:center;
  cursor:pointer;
}
.winner-wrap:hover .right-ribbon{
  right:-45px;
  border-left:20px solid #E0B05C;
  transition:all ease .3s;
}
.winner-wrap:hover .left-ribbon{
  left:-45px;
  border-right:20px solid #E0B05C;
  transition:all ease .3s;
}
.winner-wrap:hover .winner-ribbon{
  box-shadow:0 3px 6px 0px rgba(0,0,0,0.2);
  transition:all ease .3s;
}
.border{
  position:absolute;
  width:90%;
  height:90%;
  border:1px solid rgba(255, 189, 105, 0.4);
  left:0; right:0;
  top:0; bottom:0;
  margin:auto;
}
.medal-box{
  width:60px;
  height:60px;
  background:#fe346e;
  color:#ffbd69;
  border-radius:50px;
  line-height:70px;
  font-size:2.3rem;
  margin:.8rem auto 1rem;
}
.winner-wrap h1{
  color:rgba(255, 189, 105, 0.95);
  font-size:1.4rem;
  font-weight:300;
  text-transform:none;
  margin-bottom:1rem;
}
.winner-wrap h2{
  color:#fff;
  font-size:1.2rem;
  font-weight:400;
  text-transform:uppercase;
  margin-bottom:.85rem;
}
.winner-ribbon{
  width:100%;
  height:50px;
  background:#ffbd69;
  text-align:center;
font-family: Montserrat-black;
  font-size:2.8rem;
  color:#fe346e;
  position:absolute;
  bottom:45px;
  left:0;
  z-index:99;
  box-shadow:0 10px 15px -7px rgba(0,0,0,0.2)
}
.right-ribbon{
  width:0;
  height:0;
  position:absolute;
  right:-35px;
  bottom:30px;
  border-top:24px solid #E0B05C;
  border-bottom:24px solid #E0B05C;
  border-left:10px solid #E0B05C;
  border-right:25px solid transparent;
  transition:all ease .3s;
}
.left-ribbon{
  width:0;
  height:0;
  position:absolute;
  left:-35px;
  bottom:30px;
  border-top:24px solid #E0B05C;
  border-bottom:24px solid #E0B05C;
  border-left:25px solid transparent;
  border-right:10px solid #E0B05C;
  transition:all ease .3s;
}
.team-wrap{
  width:100%;
  margin:2rem auto;
  text-align:center;
  position:relative;
}
.team-wrap.inactive .member-pic{
  animation: fadein .3s ease-in forwards;
}
.team-wrap.active .member-pic:nth-child(1){
  animation: fadeout .3s ease-in forwards;
}
.team-wrap.active .member-pic:nth-child(2){
  animation: fadeout .3s ease-in forwards .1s;
}
.team-wrap.active .member-pic:nth-child(3){
  animation: fadeout .3s ease-in forwards .2s;
}
.team-wrap.active .member-pic:nth-child(4){
  animation: fadeout .3s ease-in forwards .3s;
}
.team-wrap.active .member-pic:nth-child(5){
  animation: fadeout .3s ease-in forwards .4s;
}
.member-pic{
  width:4rem;
  height:4rem;
  display:inline-block;
  margin:auto 1rem;
  border-radius:200rem;
  overflow:hidden;
  opacity:0;
  transform:translateY(-180%);
  transform-origin: 0 400px;
}

.member-pic img{
  width:100%;
  height:100%;
  object-fit:fill;
}

@keyframes fadeout{
  from{
    opacity:0;
    transform:translateY(-100%);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes fadein{
  from{
    opacity:1;
    transform:translateY(0);
  }
  to{
    opacity:0;
    transform:translateY(-100%);
  }
}
